@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    ABC Retails is committed to protecting the privacy of our customers.
    This privacy policy outlines how we collect, use, and protect your personal
    information when you shop on our website.
</p>

<h1>Information We Collect</h1>

<ul>
    <li><strong> Personal Information:</strong> We collect personal information. such as your name, email address, phone number, and shipping address, when you create an account or make a payment.</li>
    <li><strong> Payment Information:</strong> We collect payment information, such as credit card numbers, when you make a purchase.</li>
    <li><strong>Browsing Information:</strong> We collect browsing information, such as you IP address, browser type, and device type, when you visit our wesite.</li>
</ul>

<h1>How We Use Your Information</h1>
<ol>
    <li><em>Order Fulfillment:</em> We use ypur personal and payment information tp process and fulfill your products.</li>
    <li><em>Communication:</em> We use your contact information to communicate with you about your orders, promotions, and other updates.</li>
    <li><em>Marketing:</em> We use your information to send you marketing emails and  promotions, but you can opt-out at any time.</li>
    <li><em>Analytics:</em> We may use your information to analyze website traffic and improve our services.</li>
</ol>


   